Repository GSG-G10/udrive-car-rental, pull requests merged in 2021-10, with the labels that each got.

#88 delete car by admin
  server/controllers/admin/deleteCar.js
  server/database/queries/deleteCars.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/delete.test.js
Labels: Awaiting Review, BackEnd, Route

#95 show review in home page
  package.json
  server/controllers/index.js
  server/controllers/review/getHomeReview.js
  server/controllers/review/index.js
  server/database/config/fakeData.sql
  server/database/queries/getHomeReviews.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/delete.test.js
  server/test/reviewInHome.js
Labels: Awaiting Review, BackEnd, Route

#82 Post Admin Cars
  package-lock.json
  package.json
  server/controllers/index.js
  server/controllers/users/addCar.js
  server/controllers/users/index.js
  server/database/queries/index.js
  server/database/queries/postAdminCarsQueries.js
  server/package-lock.json
  server/routes/index.js
  server/test/postAdminCars.test.js
  server/utils/index.js
  server/utils/validation/addCarValidation.js
  server/utils/validation/index.js
Labels: Awaiting Review, BackEnd, Route

#86 Get Admin Users || router
  server/controllers/index.js
  server/controllers/users/getAdminUsersControllers.js
  server/controllers/users/index.js
  server/database/queries/getAdminUsers.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/user.test.js
Labels: Awaiting Review, BackEnd, Route

#85 get car details
  server/controllers/cars/getCarDetails.js
  server/controllers/cars/index.js
  server/controllers/index.js
  server/database/config/fakeData.sql
  server/database/queries/getCarDetailsQuery.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/cars.test.js
Labels: Awaiting Review, BackEnd, Route

#89 87 post rentals
  server/controllers/index.js
  server/controllers/rentals/addRentalController.js
  server/controllers/rentals/index.js
  server/database/config/build.sql
  server/database/config/fakeData.sql
  server/database/queries/index.js
  server/database/queries/rentals/addRentalQuery.js
  server/database/queries/rentals/checkDateTimeQuery.js
  server/database/queries/rentals/index.js
  server/package-lock.json
  server/package.json
  server/routes/index.js
  server/test/rentals.test.js
  server/utils/index.js
  server/utils/validation/index.js
  server/utils/validation/rentalValidation.js
Labels: Awaiting Review, BackEnd, Route

#90 Post Rentals History Reviews :rentalsId || router
  package-lock.json
  server/controllers/index.js
  server/controllers/review/addReviewToCar.js
  server/controllers/review/index.js
  server/database/queries/index.js
  server/database/queries/postReviewsRentalsId.js
  server/routes/index.js
  server/test/addReviewToCar.test.js
  server/utils/index.js
  server/utils/validation/commentAndRateValidation.js
  server/utils/validation/index.js
Labels: Awaiting Review, BackEnd, Route

#96 get cars endpoint
  client/package-lock.json
  package-lock.json
  server/controllers/cars/getCars.js
  server/controllers/cars/index.js
  server/controllers/index.js
  server/database/config/fakeData.sql
  server/database/queries/cars/getCarsQuery.js
  server/database/queries/index.js
  server/package-lock.json
  server/routes/index.js
  server/test/cars.test.js
Labels: Awaiting Review, BackEnd, Route

#97 rentals endpoints
  server/controllers/index.js
  server/controllers/rentals/historyRentals.js
  server/controllers/rentals/index.js
  server/controllers/rentals/pendingRentals.js
  server/database/queries/index.js
  server/database/queries/rentals/historyRintalsQuery.js
  server/database/queries/rentals/index.js
  server/database/queries/rentals/pendingRentalsQuery.js
  server/routes/index.js
  server/test/rentals.test.js
Labels: Awaiting Review, BackEnd, Route

#98 Get admin cars by name || router
  package.json
  server/controllers/admin/deleteCar.js
  server/controllers/cars/getCarAdminByName.js
  server/controllers/cars/getTypeControllers.js
  server/controllers/cars/index.js
  server/controllers/index.js
  server/controllers/review/getHomeReview.js
  server/controllers/review/index.js
  server/controllers/users/addCar.js
  server/controllers/users/index.js
  server/database/config/fakeData.sql
  server/database/queries/deleteCars.js
  server/database/queries/getCarByName.js
  server/database/queries/getHomeReviews.js
  server/database/queries/index.js
  server/database/queries/postAdminCarsQueries.js
  server/routes/index.js
  server/test/delete.test.js
  server/test/getCarName.test.js
  server/test/postAdminCars.test.js
  server/test/reviewInHome.js
  server/utils/index.js
  server/utils/validation/addCarValidation.js
  server/utils/validation/index.js
Labels: Awaiting Review, BackEnd, Route

#99 delete type delete/type/:typeId || router
  server/controllers/cars/deleteTypeControllers.js
  server/controllers/cars/getCarAdminByName.js
  server/controllers/cars/getTypeControllers.js
  server/controllers/cars/index.js
  server/controllers/index.js
  server/database/queries/deleteTypes.js
  server/database/queries/getCarByName.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/getCarName.test.js
  server/test/types.test.js
Labels: Awaiting Review, BackEnd, Route

#100 delete rental by rental id
  server/controllers/index.js
  server/controllers/rentals/deleteRental.js
  server/controllers/rentals/index.js
  server/database/queries/index.js
  server/database/queries/rentals/deleteRentalQuery.js
  server/database/queries/rentals/index.js
  server/routes/index.js
  server/test/rentals.test.js
  server/test/reviewInHome.test.js
Labels: Awaiting Review, BackEnd, Route

#101 Update Car By CarId || roter
  client/package-lock.json
  package-lock.json
  server/controllers/cars/index.js
  server/controllers/cars/updateCarControllers.js
  server/controllers/index.js
  server/database/queries/index.js
  server/database/queries/updateCarData.js
  server/package-lock.json
  server/routes/index.js
  server/test/updateCar.test.js
  server/utils/index.js
  server/utils/validation/index.js
  server/utils/validation/updateCarValidation.js
Labels: Done, BackEnd, Route

#102 7 Delete brand
  server/controllers/admin/deletebrand.js
  server/controllers/admin/index.js
  server/controllers/index.js
  server/database/queries/deleteBrandQuery.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/brand.test.js
Labels: Awaiting Review, BackEnd, Route

#106 frontend file structure
  client/src/App/index.js
  client/src/App/style.css
  client/src/Components/Common/index.js
  client/src/Components/index.js
  client/src/Pages/Booking/index.js
  client/src/Pages/Booking/style.css
  client/src/Pages/CarDetails/index.js
  client/src/Pages/CarDetails/style.css
  client/src/Pages/Cars/index.js
  client/src/Pages/Cars/style.css
  client/src/Pages/Dashboard/index.js
  client/src/Pages/Dashboard/style.css
  client/src/Pages/Home/index.js
  client/src/Pages/Home/style.css
  client/src/Pages/Login/index.js
  client/src/Pages/Login/style.css
  client/src/Pages/NotFound/index.js
  client/src/Pages/NotFound/style.css
  client/src/Pages/SignUp/index.js
  client/src/Pages/SignUp/style.css
  server/controllers/index.js
Labels: Awaiting Review

#104 Refactor Server side routes and test
  server/controllers/index.js
  server/database/queries/index.js
  server/routes/index.js
  server/test/addReviewToCar.test.js
  server/test/brand.test.js
  server/test/brands.test.js
  server/test/cars.test.js
  server/test/delete.test.js
  server/test/getCarName.test.js
  server/test/postAdminCars.test.js
  server/test/rentals.test.js
  server/test/review.test.js
  server/test/reviewInHome.test.js
  server/test/reviews.test.js
  server/test/types.test.js
  server/test/updateCar.test.js
  server/test/users.test.js
Labels: Awaiting Review, BackEnd

#119 Button Common Component
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/Components/Common/Button/index.js
  server/test/brands.test.js
  server/test/cars.test.js
Labels: Awaiting Review, FrontEnd
